snippet pubf
public function $1($2)
{
	$3
}
endsnippet

snippet prof
protected function $1($2)
{
	$3
}
endsnippet

snippet prif
private function $1($2)
{
	$3
}
endsnippet

snippet $
$this->$1
endsnippet

snippet test
/** @test **/
public function $1()
{
	$2
}
endsnippet

snippet testsu
public function setUp()
{
	parent::setUp();

	$1
}
endsnippet

snippet testi
/** @test **/
public function $1()
{
	$this->markTestIncomplete();
}
endsnippet

snippet dd
dd($1);
endsnippet
